@font-face {
  font-family: "gilroyLight";
  src: url(fonts/Gilroy-Light.otf) format("woff");
}

@font-face {
  font-family: "gilroyBold";
  src: url(fonts/Gilroy-ExtraBold.otf) format("woff");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5271ff;
  height: 100vh;
  overflow: hidden;
}

.main-container,
.menu-logo,
.menu-start-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 18.75rem;
  /*border: 2px solid black;*/
  height: 100%;
  gap: 28px;
}

.menu-logo {
  height: 6.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  width: 6.25rem;
  border-radius: 10px;
  transition: 0.2s;
}

.menu-logo img {
  height: 75%;
  width: 75%;
}

.menu-title {
  font-size: 2.8rem;
  line-height: 1.4;
  font-family: "gilroyBold";
  color: white;
  transition: 0.2s;
  font-weight: 100;
}

.menu-start-btn {
  background-color: rgba(0, 0, 0, 0.1);
  width: 14.375rem;
  height: 3.125rem;
  color: white;
  font-family: "gilroyLight";
  border-radius: 10px;
  transition: 0.1s all;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.menu-start-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.1s all;
  cursor: pointer;
}

.caption {
  font-family: "gilroyLight";
  text-decoration: none;
  position: fixed;
  bottom: 0;
  margin-bottom: 6.25rem;
  color: white;
  opacity: 0.75;
  transition: 0.1s all;
  position: fixed;
}

.caption:hover {
  transition: 0.1s all;
  opacity: 1;
}

.level-container {
  width: 17.813rem;
  height: 3.125rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "gilroyLight";
  letter-spacing: 1.5px;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}

.fade-in {
  opacity: 1;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.tile {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 5.625rem;
  width: 5.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: 0.1s all;
}

.tile:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.1s all;
  cursor: pointer;
}

.btn-container {
  display: flex;
  gap: 15px;
}

.start-lvl-btn,
.reset-lvl-btn {
  width: 8.438rem;
  height: 3.125rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-family: "gilroyLight";
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.1s all;
}

.start-lvl-btn:hover,
.reset-lvl-btn:hover {
  transition: 0.1s all;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
